@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:100,200,300,400,500|Exo:100,200,300,400,500&display=swap');

/*---------------------------------------------- Page Attributes -- */

body {
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
}

/*---------------------------------------------- Nav Bar -- */

.bg-col-navbar {
    background: linear-gradient(to right, #fff, #808a7b);
}

/* Nav Bar Logo and Title */

.navbar-brand {
    font-weight: 500;
    font-size: 26px;
    color: #808a7b;
    text-align: center;
    padding-left: 15px;
}

.navbar-brand:hover {
    color: #e1aaf0;
}

/* Nav Bar Link Text */

.navbar-nav .nav-link {
    color: #fff;
    font-size: 20px;
    padding: 30px;
}
  
.navbar-nav .nav-link:hover {
    color: #808a7b;
}

.navbar-nav .nav-link i {
    padding: 10px;
}

.navbar-collapse.show .navbar-nav .nav-link {
    color: #808a7b;
}
  
.navbar-collapse.show .navbar-nav .nav-link:hover {
    color: #fff;
}

.active-nl a {
    opacity: 80%;
}

/* Nav Bar Link Icons */

.home-icon {
    color: #8feeef;
    font-size: 30px;
}

.gallery-icon {
    color: rgb(255 189 148);
    font-size: 30px;
}

.contact-us-icon {
    color: rgb(255 166 221);
    font-size: 30px;
}

/* Below Large Screens */
@media (max-width: 991px) {

    .navbar-brand {
        font-size: 20px;
    }

}  

/* Below Medium Screens */
@media (max-width: 767px) {

    .navbar-brand {
        font-size: 18px;
    }

    #logo {
        width: 60px;
        height: 60px;
    }
}

/* Below Small Screens */
@media (max-width: 575px), (max-height: 575px) {

    .navbar-brand {
        font-size: 16px;
    }

    #logo {
        width: 40px;
        height: 40px;
    }
}

/*-------------------------------------------------------- Home Page -- */

.home-bg {
    background-color: #8feeef;
    color: #000;
    margin: 50px 0 70px 0;
    padding: 0 30px 15px 30px;
}

/* Below Small Screens */
@media (max-width: 575px), (max-height: 575px) {
    
    .home-bg {
        padding-left: 10px;
        padding-right: 10px;
    }   
}

/*----------------------------------------- Landing Page Image -- */

#landing-page {
    background-image: url("../images/landing-page-image.png");
    height: 100vh;
    background-size: contain;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    margin-top: -250px;
    padding: 0;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
  }

/* Below Large Screens */
@media (max-width: 991px) {

  #landing-page {
      margin-top: 0;
      height: 50vh;
     }
}

/* Below Medium Screens */
@media (max-width: 767px) {

  #landing-page {
      height: 33.3vh;
     }
}

/* Below Small Screens */
@media (max-width: 575px), (max-height: 575px) {

    #landing-page {
        height: 33.3vh;
       }
}

/*----------------------------------------- About Us Section -- */

/* Header */
.about-us {
    display: inline-block;
    color: #000;
    font-size: 30px;
    margin-bottom: 20px;
    margin-top: 20px;
    padding-top: 20px;
    text-align: center;
}

.about-us i {
    font-size: 30px;
}

.about-us h3 {
    font-size: 30px;
}

/*Paragraph - text only*/
.about-us-text {
    color: #000;
    font-size: 30px;
    margin: 0;
    text-align: justify;
}

/* Below Large Screens */
@media (max-width: 991px) {

    .about-us {
        margin-top: 40px;
    }
    
.about-us-text {
    font-size: 26px;
    }
}

/* Below Medium Screens */
@media (max-width: 767px) {

    .about-us {
        margin-top: 20px;
    }
    
.about-us-text {
    font-size: 20px;
    }
}

/* Below Small Screens */
@media (max-width: 575px), (max-height: 575px) {

    .about-us {
        margin-bottom: 0;
        margin-top: 0;
    }

    .about-us-text {
        font-size: 16px;
        }
}

/*----------------------------------------- Themes Section -- */

.themes {
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 30px;
    color: #000;
}

.themes p {
    text-align: left;
}

.themes h4 {
    font-size: 30px;
}

.text-align-center {
    text-align: center;
}

.text-align-left {
    text-align: left;
}

.themes-heading {
    margin-bottom: 30px;
    margin-top: 20px;
    padding-top: 20px;
}

/* Below Large Screens */
@media (max-width: 991px) {

    .themes {
        margin: 0 15px 20px 15px; 
    }

   .themes h4 {
    padding-top: 20px;
   }
}

/* Below Medium Screens */
@media (max-width: 767px) {

    .themes {
        margin: 20px 15px 20px 15px;
        
    }

    .themes li {
        font-size: 20px;
    }

    .home-bg {
        margin-bottom: 40px;
        margin-top: 20px;
    }
}

/* Below Small Screens */
@media (max-width: 575px), (max-height: 575px) {

    .themes {
        margin: 0;
        font-size: 30px;
    }

    .themes li {
        font-size: 18px;
        margin: 0;
    }

    .themes h4 {
        font-size: 20px;
    }

    .home-bg {
        margin-bottom: 20px;
    }

    .themes-heading {
        margin-bottom: 10px;
    }

    .themes-text {
        margin-top: 20px;
        margin-bottom: 0;
        font-size: 18px;
        text-align: center;
        }
}

/*----------------------------------------- Pricing Section -- */

/* Page */
.pricing {
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 100px;
}

/* Header */
.pricing-heading {
    display: inline-block;
    color: #000;
    font-size: 30px;
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: center;
}

/* Header Icon */
.pricing-heading i {
    margin-right: 20px;
}

/* -------------------- Gold Package*/

#gold {
    background-color: gold;
    color: #000 ;
    padding: 30px;
    margin-left: 5px;
    margin-right: 5px;
    border: solid 1px;
}

/* --------------- Silver Package*/

#silver {
    background-color: silver;
    color: #000;
    padding: 30px;
    margin-left: 5px;
    margin-right: 5px;
    border: solid 1px;
}

/* --------------- Bronze Package*/

#bronze {
    background-color: rgb(163, 73, 13);
    color: #fff;
    padding: 30px;
    margin-left: 5px;
    margin-right: 5px;
    border: solid 1px #000;
}

.top-of-page {
    text-align: center;
    margin-bottom: 40px;
    font-size: 24px;
}

.top-page {
    color: #000;
}

/*List Items - All Packages*/
.list-group-item::before {
    content: "●";
    margin-right: 12px;
}

/* Below Large Screens */
@media (max-width: 991px) {

    .pricing {
        padding-left: 15px;
        padding-right: 15px;
        margin-bottom: 50px;
    }

    #gold {
        margin: 10px;
        min-width: 500px;
        max-width: 900px;
    }

    #silver {
        margin: 10px;
        min-width: 500px;
    }

    #bronze {
        margin: 10px;
        min-width: 500px;
    }
}

/* Below Medium Screens */
@media (max-width: 767px) {

    .pricing {
        padding-left: 15px;
        padding-right: 15px;
        margin-bottom: 50px;
    }

    #gold {
        padding: 20px;
        margin-left: 10px;
        margin-right: 10px;
        min-width: 360px;
    }

    #silver {
        padding: 20px;
        margin-left: 10px;
        margin-right: 10px;
        min-width: 360px;
    }

    #bronze {
        padding: 20px;
        margin-left: 10px;
        margin-right: 10px;
        min-width: 360px;
    }
    
    .top-of-page {
        font-size: 16px;
    }
}

/* Below Small Screens */
@media (max-width: 575px), (max-height: 575px) {

    #gold {
        margin-left: 0;
        margin-right: 0;
        min-width: 290px;
    }

    #silver {
        margin-left: 0;
        margin-right: 0;
        min-width: 290px;
    }

    #bronze {
        margin-left: 0;
        margin-right: 0;
        min-width: 290px;
    }
    
}

/*-------------------------------------------------------- Gallery Page-- */

.gallery-bg {
    background-color: rgb(255 189 148);
    color: #08467b;
    margin-bottom: 140px;
}

.gallery-page {
    margin-left: 30px;
    margin-right: 30px;
}

.gallery-heading {
    display: inline-block;
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.gallery-heading i {
    margin-right: 20px;
}

.gallery-text {
    font-size: 30px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.gallery h5 {
    font-size: 30px;
    padding: 30px;
    text-align: center;
}

.gallery {
    line-height: 30px;
    row-gap: 24px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.gallery img {
    max-width: 100%;
}

.theme-name {
    margin: 0;
}

.rounded-4 {
    margin:0;
}

.flip {
    transform: rotateY(180deg);
}
/* Below Large Screens */
@media (max-width: 991px) {

    .gallery-page {
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 0;
        padding: 20px;
    }

    .gallery h5 {
        padding: 20px;
    }

    .gallery-text {
        text-align: center;
    }

    .gallery-bg {
        margin-bottom: 60px;
    }

    .theme-name{
        margin-top: 10px;
        margin-bottom: 5px;
    }
}

/* Below Medium Screens */
@media (max-width: 767px) {

    .gallery-page {
        margin-left: 30px;
        margin-right: 30px;
    }

    .gallery h5 {
        font-size: 26px;
    }

    .gallery-text {
        font-size: 24px;
    }

    .gallery-bg {
        margin-bottom: 60px;
    }

}

/* Below Small Screens */
@media (max-width: 575px), (max-height: 575px) {

    .gallery-page {
        margin-left: 10px;
        margin-right: 10px;
    }

    .gallery h5 {
        padding-left: 0;
        padding-right: 0;
    }

}

/*-------------------------------------------------------- Contact Us Page -- */

.contact-bg {
    background-color: rgb(255 166 221);
    color: #000;
    margin-bottom: 70px;
}

.contact-page {
    margin-left: 30px;
    margin-right: 30px;
}

.contact-heading {
    display: inline-block;
    text-align: center;
    font-size: 30px;
    margin: 30px;
}

.contact-heading p {
    font-weight: 500;
    font-size: 24px;
}

.contact-text {
    font-size: 24px;
}

.form {
    padding-left: 30px;
    padding-right: 30px;
}

/* Below Large Screens */
@media (max-width: 991px) {

    .contact-text {
        font-size: 20px;
        text-align: center;
        margin-bottom: 10px;
    }

    .contact-text li {
        text-align: left;
    }

    .contact-heading {
        margin-bottom: 20px;
    }

    .contact-page {
        margin-left: 10px;
        margin-right: 10px;
    }

    .contact-bg {
        margin-bottom: 100px;
    }
    
}

/* Below Medium Screens */
@media (max-width: 767px) {

    .contact-heading {
        margin-bottom: 10px;
    }

}

/* Below Small Screens */
@media (max-width: 575px), (max-height: 575px) {

    .form {
        padding-left: 20px;
        padding-right: 20px;
    }

}


/*---------------------------------------------- Footer -- */

.footer-details {
    background: linear-gradient(to right, #fff, #808a7b);
    color: #808a7b;
    text-align: center;
    padding: 5px;
}

footer nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    margin-top: 0;
    padding: 0;
}

.social-media li {
    font-size: 30px;
    padding: 0 15px 0 25px;
}

.facebook {
    color: blue;
}

.instagram {
    color: rgb(243, 40, 141);
}

.whatsapp {
    color: green;
}

.email {
    color: #fff;
}